-extends 'layout.haml'


-block title -> =title()


-block head

    %link rel="icon" href="{| 'favicon.ico'|asset |}"
    %link rel="stylesheet" href="{| 'app.css'|asset |}"


-block body

    %script src="{| 'app.js'|asset |}"

