body, div.body {
    color:  #333;
    font-family: sans-serif;
    max-width: none;
    min-width: 0;
}

div.body {
    padding-top: 10px;
}

div.document, div.footer {
    width: 80%;
}

a, div.sphinxsidebar a {
    background-color: transparent;
    border: none!important;
    color: #3cf;
    display: inline-block;
    text-decoration: none!important;
    transition: all 0.24s ease;
}

a:hover, div.sphinxsidebar a:hover {
    color: #6ff;
    transform: scale(1.12);
}

dl {
    margin: 2em 0;
}

ul, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    color:  #222;
    font-family: sans-serif!important;
}

div, p {
    font-family: sans-serif!important;
}

h1, div.body h1 {
    font-weight: 800;
    user-select: none;
}

h2, div.body h2 {
    font-weight: 600;
    user-select: none;
    padding-top: 1em;
}

div.sphinxsidebar, div.documentwrapper, table.indextable tr.cap, ul.search li,
div.admonition, div.admonition tt.xref, div.admonition code.xref,
div.admonition a tt {
    background: none!important;
}

dt:target, .highlight, dt:target, span.highlighted {
    background: rgba(255,255,255,0.06);
}

dl dl {
    margin: 0 0 1em 2em;
}

dl dl.field-list {
    padding-top: 0;
}

dl.field-list > dt {
    padding-left: 0;
    padding-top: 0.5px;
}

section > dl {
    padding: 1em 0;
}

pre, code, tt, tt.xref, code.xref, a tt {
    background: transparent;
    border: none;
    font-size: 1em;
    letter-spacing: -0.5px;
}

div.sphinxsidebar h3, div.sphinxsidebar h4 {
    color: #aaaaaf;
    font-size: 1.5em;
    user-select: none;
}

input, div.sphinxsidebar input {
    background-color: #16161f;
    border: none;
    color: #cccccf;
    font-family: sans-serif;
    font-size: 1.2em;
    outline: none;
    padding: 0.5em!important;
}

div.sphinxsidebar input, div.genindex-jumpbox, div.modindex-jumpbox,
div.admonition tt.xref, div.admonition code.xref, div.admonition a tt {
    border: none;
}

a:hover tt, a:hover code, div.admonition code.xref:hover {
    background: rgba(0,0,0,0.5)!important;
    padding: 4px 8px;
    margin: -4px -8px;
}

form input[type=text] {
    margin-right: -6px;
}

input[type=button], div.sphinxsidebar input[type=button],
input[type=submit], div.sphinxsidebar input[type=submit]
{
    color: #f6f6ff;
    background-color: #36a;
    font-weight: 800;
}

div.footer {
    font-size: 0.72em;
    user-select: none;
}

div.warning {
    background-color: #60202f;
    border: none;
}

div.admonition {
    border: none;
    margin-left: -26px;
}

div.admonition > :last-child {
    margin-bottom: 1em;
}

a.headerlink {
    background: none!important;
    color: #66666f!important;
    font-family: Georgia, serif;
    margin-left: 0.16em;
    opacity: 0;
    transition: opacity 0.4s ease;
}

h1:hover > a.headerlink, h2:hover > a.headerlink, h3:hover > a.headerlink,
h4:hover > a.headerlink, h5:hover > a.headerlink, h6:hover > a.headerlink,
p.caption:hover > a.headerlink, div.code-block-caption:hover > a.headerlink,
dt:hover > a.headerlink, caption:hover > a.headerlink {
    opacity: 1;
}

div.ethical-sidebar, div.ethical-footer {
    background: none;
    border: none;
}

.ethical-sidebar a {
    color: #eee!important;
}

.rst-versions.rst-badge *,
div.ethical-sidebar *,
div.ethical-footer * {
    user-select: none;
}

div.sphinxsidebar #searchbox input[type="text"]{
    padding: 8px!important;
}

div.sphinxsidebar ul ul, div.sphinxsidebar ul.want-points {
    margin-left: 12px;
    list-style: none;
}

.sig {
    color: #333;
}

.property {
    color: #51ef89;
}

.property dd {
    color: #aaaaaf;
}

.py-attr {
    color: #da5!important;
}

.descname, code.py-class, .external .pre, code.py-class:hover {
    color: #f2638b!important;
}

.attribute .descname, .method .descname {
    color: #b855ee!important;
}

code.py-func .pre, code.py-func:hover {
    color: #333!important;
}

.sig-paren {
    opacity: 0.5;
}

table.docutils {
    border: none;
    box-shadow: none;
    margin-left: 10%;
    width: 80%;
}

table.docutils tr:nth-child(2n) {
    background: rgba(0,0,0, 0.08);
}

table.docutils td {
    border: none;
}


@media screen {

    ::-webkit-scrollbar {
        background: #202026!important;
        height: 4px;
        margin-left: 6px;
        width: 12px;
    }

    ::-webkit-scrollbar-thumb {
        background: #36393c;
        border-radius: 8px;
    }

    ::-webkit-scrollbar-corner {
        background: #202326;
    }

    body, div.body {
        background-color: #202026;
        color: #aaaaaf;
    }

    h1, h2, h3, h4, h5, h6, pre, code, tt, tt.xref, code.xref, a tt {
        color: #eee;
    }

    div.footer a {
        color: #aaaaaf;
    }

    code.py-func .pre, code.py-func:hover {
        color: #eee!important;
    }

    .sig {
        color: #eee;
    }

    .property dd {
        color: #aaaaaf;
    }

    .highlight pre, .highlight ::-webkit-scrollbar,
    .highlight ::-webkit-scrollbar-thumb {
        background: #fffff6!important;
        filter: invert(0.9);
    }
}

@media screen and (max-width: 875px) {

    div.document, div.footer, div.body, table.docutils {
        width: 100%;
        margin-left: 0;
    }
}

@media print {

    body {
        zoom:  0.75;
    }

    div.document, div.footer, div.body {
        width: 95%;
    }

    .highlight pre {
        overflow: visible;
    }
}
